* {
  font-family: "Poppins", sans-serif;
  list-style: none;
  border-collapse: collapse;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #000;
}
body {
  width: 1366px;
  margin: auto;
  position: relative;
}

.wrap {
  background-color: #eeedde;
  margin: auto;
  width: 100%;
  height: 830px;
}

.header {
  display: flex;
}

.logo {
  /* width: 596px;
  line-height: 57px;
  font-size: 24px;
  font-weight: bold; */
  position: relative;
  width: 72px;
  height: 42px;
  left: 100px;
  top: 50px;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #203239;
}

.nav {
  display: flex;

  position: relative;
  width: 570px;
  height: 28px;
  left: 696px;
  top: 50px;
  align-items: flex-start;
}

.nav li {
  margin-right: 100px;
  line-height: 63px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.nav li a {
  position: relative;
}

.nav li :hover {
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav li a::after {
  content: "";
  width: 0%;
  left: 50%;
  height: 1px;
  display: block;
  position: absolute;
  top: 28px;
  border-radius: 15px;
  border-bottom: 3px solid #f7762e;
  transition: all 0.3s ease;
}

.nav li:hover > a::after {
  content: "";
  width: 50%;
  left: 25%;
  height: 1px;
  display: block;
  position: absolute;
  border-radius: 15px;
  top: 28px;
  border-bottom: 3px solid #f7762e;
  transition: all 0.3s ease;
}

.article {
  display: flex;
}

.article h1 {
  position: absolute;
  width: 777px;
  height: 168px;
  left: 100px;
  top: 192px;
  font-style: normal;
  font-weight: 1000;
  font-size: 56px;
  line-height: 150%;
  color: #203239;
}

.article h3 {
  position: absolute;
  top: 384px;
  left: 100px;
  width: 544px;
  height: 60px;
  font-weight: lighter;
  color: rgba(32, 50, 57, 0.55);
  font-size: 16px;
  line-height: 30px;
}

.article img {
  position: relative;
  top: 130px;
  left: 865px;
}

.article .searcharea {
  width: 675px;
  height: 70px;
  position: absolute;
  top: 500px;
  left: 100px;
  border-radius: 15px;
  border: none;
}

.article .searcharea::placeholder {
  position: absolute;
  top: 23px;
  left: 56px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: rgba(32, 50, 57, 0.55);
}

.article .search_box {
  position: absolute;
  top: 510px;
  left: 621px;
  width: 140px;
  height: 50px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  background-color: #203239;
  box-shadow: 0px 6px 8px rgba(32, 50, 57, 0.25);
  cursor: pointer;
}

.article .number {
  position: absolute;
  top: 626px;
  left: 100px;
  display: flex;
}

.article .number li {
  margin-right: 75px;
  font-size: 56px;
  font-weight: 600;
  color: #203239;
}

.article .number li span {
  color: #f7762e;
}

.article .number li:nth-child(2) span {
  font-size: 16px;
  font-weight: bold;
}

.article .number li p {
  font-size: 16px;
  font-weight: 50;
  color: rgba(32, 50, 57, 0.55);
}

.section1 {
  background-color: white;
}

.section1 h1 {
  width: 533px;
  font-weight: 1000;
  font-size: 36px;
  line-height: 150%;
  color: #203239;
  position: absolute;
  top: 930px;
  left: 100px;
}

.section1 ul {
  position: absolute;
  display: flex;
  top: 1102px;
  left: 100px;
}

.section1 ul li {
  border: 1px solid #eeedde;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-right: 133px;
}

.section1 ul li div {
  margin-top: 20px;
  margin-left: 33px;
}

.section1 ul li div span {
  position: relative;
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #203239;
}

.section1 ul li div span:first-child::before {
  content: "";
  background-color: #f7762e;
  position: absolute;
  display: block;
  width: 8px;
  height: 30px;
  border-radius: 5px;
  top: -5px;
  left: -34px;
}

.section1 ul li div span:last-child {
  position: relative;
  top: 48px;
}

.section1 ul li div span:last-child::before {
  content: "";
  width: 40px;
  height: 100%;
  background-color: #d6d5c7;
  display: inline-block;
  position: absolute;
  left: -6px;
  z-index: -1;
}

.section1 ul li div p {
  margin-top: 8px;
  width: 235px;
  height: 150px;
  font-size: 16px;
  color: rgba(32, 50, 57, 0.55);
}
