* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border-collapse: collapse;
  color: #000;
  text-decoration: none;
}

.clock {
  font-size: 144px;
  font-weight: 500;
  line-height: 169px;
  position: absolute;
  width: 100%;
  top: 469px;

  text-align: center;
}
